---
import Layout from "@/layouts/Layout.astro";

const { uri } = Astro.params;

if (!uri) {
  Astro.redirect("/", 303);
  return;
}

const isLocal = uri.includes("localhost") || uri.includes("127");
const PROTOCOL = isLocal ? "http://" : "https://";
const URL = PROTOCOL + uri;
---

<Layout title="Wwrap | Developer tool">
  <main class="flex h-screen w-full">
    <section
      class="flex w-full items-center justify-center border-r border-zinc-800"
    >
      <iframe id="desktop" src={URL} title="Desktop wrap" class="size-full"
      ></iframe>
    </section>

    <section class="flex grow items-center justify-center p-10">
      <iframe
        id="mobile"
        src={URL}
        width="390"
        title="Mobile wrap"
        seamless
        class="aspect-[9/20] max-h-full rounded-3xl"></iframe>
    </section>
  </main>
</Layout>

<style>
  #mobile {
    box-shadow:
      0 0 0 10px #000,
      0 0 0 12px #333,
      0 80px 80px -30px rgba(0, 0, 0, 0.8);
  }
</style>
