---
import Layout from "@/layouts/Layout.astro";

const { uri } = Astro.params;
if (!uri) return;

const isLocal = uri.includes("localhost") || uri.includes("127");
const PROTOCOL = isLocal ? "http://" : "https://";
const URL = PROTOCOL + uri.replaceAll("_", "/");
---

<Layout title={`wwwrap://${uri}`}>
  <main
    id="displays"
    class:list={["flex h-screen w-full", false && "flex-row-reverse"]}
  >
    <section class="hidden w-full lg:flex">
      <iframe id="desktop" src={URL} title="Desktop wrap" class="size-full"
      ></iframe>
    </section>

    <section class="flex grow items-center justify-center p-10">
      <iframe
        id="mobile"
        src={URL}
        width="390"
        title="Mobile wrap"
        seamless
        class="aspect-[9/20] max-h-full max-w-full rounded-3xl lg:max-w-none"
      ></iframe>
    </section>
  </main>
</Layout>

<style>
  #mobile {
    box-shadow:
      0 0 0 10px #000,
      0 0 0 12px #333,
      0 80px 80px -30px rgba(0, 0, 0, 0.8);
  }
</style>

<script>
  const desktop = document.querySelector("#desktop") as HTMLIFrameElement;
  desktop.contentWindow?.postMessage("hello", "*");
</script>

<!-- <script>
  function init_syncScroll() {
    const desktop = document.querySelector("#desktop") as HTMLIFrameElement;
    const mobile = document.querySelector("#mobile") as HTMLIFrameElement;
    if (!desktop || !mobile) return;

    const { contentWindow: desktopWindow } = desktop;
    const { contentWindow: mobileWindow } = mobile;

    let activeDesktop: boolean;
    let activeMobile: boolean;

    desktopWindow?.addEventListener("scroll", () => {
      if (activeMobile) {
        activeMobile = false;
        return;
      }

      activeDesktop = true;
      const { scrollY, scrollX } = desktopWindow;
      mobileWindow?.scrollTo(scrollX, scrollY);
    });

    mobileWindow?.addEventListener("scroll", () => {
      if (activeDesktop) {
        activeDesktop = false;
        return;
      }

      activeMobile = true;
      const { scrollY, scrollX } = mobileWindow;
      desktopWindow?.scrollTo(scrollX, scrollY);
    });
  }

  init_syncScroll();
  document.addEventListener("astro:after-swap", init_syncScroll);
</script> -->
