---
import Layout from "@/layouts/Layout.astro";
import Toolbar from "@/components/Toolbar.astro";

const { uri } = Astro.params;
---

<Layout title="wwwrap | Dual display web design">
  <main
    class="flex h-screen w-full flex-col items-center justify-center gap-24 p-4"
  >
    <h1 class="-mt-24 text-center text-3xl lg:text-6xl font-bold">
      Work in progress
      <br />
      but, feel free to try it!
    </h1>

    <Toolbar uri={uri} />
  </main>
  <main
    class="flex h-screen w-full flex-col items-center justify-center gap-24"
  >
    <h1 class="-mt-24 text-center text-3xl lg:text-6xl font-bold">
      Work in progress
      <br />
      but, feel free to try it!
    </h1>
  </main>
</Layout>
