---
import Toolbar from "./Toolbar.astro";

const { uri } = Astro.params;
if (!uri) return;

const URL = uri.replaceAll("_", "/");
---

<header
  class="pointer-events-none fixed left-4 top-0 flex w-full justify-center"
>
  <div class="pointer-events-auto absolute -top-7 hover:pt-12 transition-all">
    <Toolbar uri={uri}/>
  </div>
</header>
